html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

.main-section-title {
  color: #203D7F;
  margin: 0 auto 3rem;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  font-size: 3rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  .main-section-title {
    font-size: 2rem;
  }
}

::-moz-selection {
  background-color: #203D7F;
  color: #fff;
}

::selection {
  background-color: #203D7F;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #203D7F;
  height: 100px;
  max-height: 100px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

.change-photo {
  position: absolute;
  bottom: -20px;
  right: 100px;
}

.change-photo.for-persaonal {
  bottom: -13px;
  right: 90px;
}

.change-photo .file-input {
  display: none;
}

.change-photo .upload-photo {
  width: 40px;
  height: 40px;
  color: #203D7F;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 12px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 50%;
}

.change-photo .upload-photo:hover {
  background-color: #203D7F;
  color: #fff;
}

.change-photo .upload-photo .icon {
  font-size: 16px;
}

.go-to-up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #203D7F;
  color: #fff;
  z-index: 300;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  display: none;
}

.the-main-cover {
  min-height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.the-main-cover .cover-img {
  min-height: 300px;
}

.the-main-cover .title-cover {
  position: absolute;
  bottom: 70px;
  color: #fff;
}

.main-header {
  background-color: #203D7F;
  -webkit-box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.15);
}

.main-header .navbar {
  padding: 1rem 0;
}

.main-header .navbar .navbar-brand {
  margin-right: 0;
  padding: 0;
  color: #fff;
  font-weight: 600;
  word-spacing: 2px;
}

.main-header .navbar .navbar-toggler {
  background-color: #fff;
  padding: 0.5rem 0.75rem;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-header .navbar .navbar-toggler .fa-bars {
  color: #203D7F;
}

.main-header .navbar .navbar-collapse {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 320px) and (max-width: 991px) {
  .main-header .navbar .navbar-collapse {
    text-align: center;
  }
}

.main-header .navbar .navbar-collapse .navbar-nav {
  margin: auto;
}

.main-header .navbar .navbar-collapse .navbar-nav .nav-item {
  margin-left: 30px;
}

.main-header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
}

.main-header .navbar .navbar-collapse .user {
  color: #fff;
  gap: 20px;
}

@media (min-width: 320px) and (max-width: 991px) {
  .main-header .navbar .navbar-collapse .user .user-image {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding: 20px;
  }
}

.main-header .navbar .navbar-collapse .user .chatt-msg {
  text-decoration: none;
  color: #fff;
}

.main-header .navbar .navbar-collapse .user .message-icon {
  margin-left: 20px;
  cursor: pointer;
}

.main-header .navbar .navbar-collapse .user .for-registration .go-sign-up {
  color: #fff;
  text-decoration: none;
}

.main-header .navbar .navbar-collapse .user .dropdown .dropdown-toggle {
  background-color: transparent;
  border: none;
  color: #fff;
}

.main-header .navbar .navbar-collapse .user .dropdown .dropdown-toggle::after {
  display: none;
}

.main-header .navbar .navbar-collapse .user .dropdown .dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-header .navbar .navbar-collapse .user .dropdown .dropdown-menu {
  min-width: 500px;
  max-width: 500px;
  max-height: 70vh;
  overflow-y: auto;
  left: 20px;
  padding: 1rem 0.5rem;
  top: 53px;
  border: none;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media (min-width: 767px) and (max-width: 991px) {
  .main-header .navbar .navbar-collapse .user .dropdown .dropdown-menu {
    min-width: 70vw;
    max-width: 70vw;
    left: -35vw;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main-header .navbar .navbar-collapse .user .dropdown .dropdown-menu {
    min-width: 100vw;
    max-width: 100vw;
    left: -40vw;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main-header .navbar .navbar-collapse .user .dropdown .dropdown-menu.all-messages {
    min-width: 100vw;
    max-width: 100vw;
    left: -58vw;
  }
}

.main-header .navbar .navbar-collapse .user .dropdown .dropdown-menu .dropdown-item {
  text-align: right;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  padding: 0.7rem 0.3rem;
  font-size: 15px;
  margin-bottom: 0;
  border-radius: 5px;
  line-height: 1.5;
}

.main-form-container.regigister {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 30px 20px;
}

.main-form-container.regigister .photo-contain {
  max-height: 460px;
}

.main-form-container.check-code {
  height: 450px;
}

.main-form-container .form-title {
  color: #203D7F;
  font-weight: 600;
}

.main-form-container .form-decription {
  color: #797979;
}

.main-form-container .main-form .form-group {
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  border: 1px solid #747474;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  padding: 10px;
  gap: 5px;
  line-height: 1;
}

.main-form-container .main-form .form-group.for-check-box {
  border: none;
  padding: 0;
}

.main-form-container .main-form .form-group.check-code {
  width: 45px;
  height: 50px;
}

.main-form-container .main-form .form-group .form-icon {
  color: #797979;
}

.main-form-container .main-form .form-group .form-icon.form-password {
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.main-form-container .main-form .form-group .form-icon.form-password:hover {
  color: #203D7F;
}

.main-form-container .main-form .form-group .input-form {
  width: 100%;
  border: none;
  outline: none;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  color: #797979;
}

.main-form-container .main-form .form-group .input-form.text-area {
  height: 115px;
  resize: none;
}

.main-form-container .main-form .form-group .input-form:focus {
  outline: none;
}

.main-form-container .main-form .form-group:focus-within {
  border-color: #203D7F !important;
}

.main-form-container .main-form .form-group input[type='number']::-webkit-outer-spin-button,
.main-form-container .main-form .form-group input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.main-form-container .main-form .form-group input[type='number'] {
  -moz-appearance: textfield;
}

.main-form-container .main-form .form-group input[type="checkbox"] {
  width: 30px;
  height: 30px;
  cursor: pointer;
  visibility: hidden;
  text-align: center;
}

.main-form-container .main-form .form-group input[type="checkbox"]:after,
.main-form-container .main-form .form-group input[type="checkbox"]::after {
  content: " ";
  background-color: #fff;
  display: inline-block;
  color: #203D7F;
  width: 25px;
  height: 25px;
  visibility: visible;
  border: 1px solid #747474;
  padding-top: 3px;
}

.main-form-container .main-form .form-group input[type="checkbox"]:checked:after,
.main-form-container .main-form .form-group input[type="checkbox"]:checked::after {
  content: "\2714";
  font-weight: bold;
}

.main-form-container .main-form .form-group .form-label {
  margin: 0 8px;
}

.main-form-container .submit-button {
  background-color: #203D7F;
  color: #fff;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main-form-container .submit-button {
    margin-bottom: 1.5rem;
  }
}

.main-form-container .form-ask {
  font-weight: 600;
}

.main-form-container .form-link {
  margin: 0 10px;
  color: #203D7F;
  text-decoration: none;
  font-weight: 600;
}

.main-profile-form .form-grous {
  color: #797979;
}

.main-profile-form .form-grous .prfile-label {
  margin: 0 0 15px;
}

.main-profile-form .form-grous .prfile-input {
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  border: 1px solid #747474;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}

.main-profile-form .form-grous .prfile-input.profile-text-area {
  resize: none;
  height: 200px;
}

.main-profile-form .form-grous .prfile-input:focus {
  border-color: #203D7F !important;
}

.main-profile-form .form-grous .edit-img-container {
  position: relative;
  height: 300px;
  max-height: 300px;
}

.main-profile-form .form-grous .edit-img-container .immg {
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 12px rgba(0, 0, 0, 0.4);
  -o-object-fit: cover;
     object-fit: cover;
}

.main-profile-form .form-grous .edit-img-container.personal {
  width: 150px;
  height: 150px;
}

.main-profile-form .form-grous .edit-img-container.personal .immg {
  width: 150px;
  height: 150px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.main-profile-form .all-certifications {
  border-top: 1px solid #747474;
  padding: 30px 0;
}

.all-skills .tgs-input {
  border: 1px solid #747474;
  padding: 5px;
  border-radius: 5px;
}

.all-skills .tgs-input:focus {
  border-color: #203D7F !important;
}

.all-skills .tgs-input .tagify__tag .tagify__tag-text {
  color: #797979;
}

.all-skills .tgs-input div::before {
  background-color: #e5e5e5;
}

.wallet-button, .contact-user, .tags-btn, .add-service-btn, .btn-contact-srvice, .more-service {
  border: none;
  outline: none;
}

.wallet-button:focus, .contact-user:focus, .tags-btn:focus, .add-service-btn:focus, .btn-contact-srvice:focus, .more-service:focus {
  outline: none;
}

.wallet-button {
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #203D7F;
  color: #fff;
}

.contact-user {
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #203D7F;
  color: #fff;
  min-width: 180px;
  margin: 20px auto 0;
}

.contact-user.btn-link {
  padding: 0;
  text-decoration: none;
}

.contact-user.btn-link .go-to-edit {
  padding: 8px 20px;
  text-decoration: none;
  color: #fff;
}

.tags-btn {
  min-width: 150px;
  padding: 7px 0;
  background-color: rgba(32, 61, 127, 0.53);
  font-weight: 400;
  font-size: 18px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .tags-btn {
    min-width: 120px;
  }
}

.add-service-btn {
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #203D7F;
  color: #fff;
  min-width: 180px;
  margin: 30px auto 15px;
}

.btn-contact-srvice {
  padding: 0;
}

.btn-contact-srvice .link-in {
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #203D7F;
  color: #fff;
  min-width: 100px;
}

.more-service {
  padding: 0;
}

.more-service .link-service {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #203D7F;
  color: #fff;
  min-width: 180px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.welcome-khedma {
  padding-top: 120px;
  padding-bottom: 80px;
}

.welcome-khedma .message-khedma .title {
  color: #203D7F;
  font-weight: 500;
  font-size: 3rem;
}

.welcome-khedma .message-khedma .decription {
  color: #797979;
  font-weight: 400;
  font-size: 1.3rem;
}

.welcome-khedma .message-khedma .photo-khdma {
  height: 500px;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-us {
  padding-bottom: 80px;
}

.about-us .message-khedma {
  margin-top: 80px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .about-us .message-khedma {
    margin-top: 0;
  }
}

.about-us .message-khedma .decription {
  color: #797979;
  line-height: 2;
}

.instruction {
  padding-bottom: 80px;
}

.instruction .lists {
  margin-bottom: 0;
  margin-top: 1.5rem;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 991px) {
  .instruction .lists.lists-top {
    margin-top: 0;
  }
}

.instruction .lists .item {
  gap: 15px;
  margin-bottom: 1rem;
  line-height: 1.7;
}

.instruction .lists .item .checked-icon {
  color: #203D7F;
  font-size: 25px;
}

@media (min-width: 767px) and (max-width: 991px) {
  .instruction .photo-khdma {
    max-height: 500px;
  }
  .instruction .photo-khdma .img {
    max-height: 100%;
  }
}

.author-service .slick-slider {
  position: relative;
}

.author-service .slick-slider .slick-slide {
  padding: 0 20px !important;
}

.author-service .slick-slider .slick-next,
.author-service .slick-slider .slick-prev {
  background-color: #fff;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2), 0 0 5px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2), 0 0 5px -2px rgba(0, 0, 0, 0.1);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 700;
}

.author-service .slick-slider .slick-next {
  left: 0 !important;
}

.author-service .slick-slider .slick-next::before {
  color: #203D7F !important;
}

.author-service .slick-slider .slick-prev {
  right: 0 !important;
}

.author-service .slick-slider .slick-prev::before {
  color: #203D7F !important;
}

.author-service .slick-slider .slick-list {
  padding: 0 0 20px 0;
}

.author-service .card {
  border: none !important;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
}

.author-service .card.service-finished {
  position: relative;
}

.author-service .card.service-finished::before {
  position: absolute;
  content: '';
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 20;
}

.author-service .card.service-finished .close-finished {
  position: absolute;
  z-index: 22;
  top: 10px;
  right: 10px;
  color: #E20000;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.author-service .card .all-views {
  margin-bottom: 10px;
  padding: 10px 0;
}

.author-service .card .card-photo {
  width: 120px;
  height: 120px;
  margin: auto;
}

.author-service .card .card-photo .card-img-top {
  border-radius: 50%;
}

.author-service .card .card-body {
  text-align: center;
}

.author-service .card .card-body .card-title {
  margin-bottom: 10px;
  font-weight: 600;
}

.author-service .card .card-body .job {
  margin-bottom: 10px;
}

.author-service .card .card-body .job.mony {
  direction: rtl !important;
}

.author-service .card .card-body .card-text {
  margin-bottom: 0;
  line-height: 1.7;
}

.author-service .card .card-body .stars {
  margin-top: 0.5rem;
}

.author-service .card .card-body .stars .u-starts {
  color: #203D7F;
}

.author-service .card .card-body .card-link {
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #203D7F;
  color: #fff;
  min-width: 180px;
  margin: 20px auto 10px;
}

.contact-us {
  padding: 80px 0;
}

.contact-us .photo-khdma {
  max-height: 400px;
}

.contact-us .photo-khdma .imgi {
  max-height: 100%;
}

.contact-us .with-contacting {
  margin-top: 1.9rem;
}

.signals {
  padding-bottom: 80px;
}

.signals .all-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signals .all-logos .signale-logo {
  margin: 0 10px;
}

.signals .all-logos .signale-logo .img-logo {
  width: 60px;
}

.signals .all-logos .signale-logo .img-logo.we {
  width: 30px;
}

.signals .write-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 320px) and (max-width: 480px) {
  .signals .write-phone {
    display: block;
  }
}

.signals .write-phone .mobile-icon {
  width: 50px;
  height: 50px;
  background-color: #203D7F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.signals .write-phone .mobile-icon .fa-mobile {
  font-size: 20px;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 480px) {
  .signals .write-phone .mobile-icon {
    margin: 0 auto 20px;
    border-radius: 5px;
  }
}

.signals .write-phone .select-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 0;
  align-items: center;
  border-top: 1px solid #203D7F;
  border-bottom: 1px solid #203D7F;
  height: 48px;
}

.signals .write-phone .select-input-container .select-containers .select-box {
  width: 240px;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .signals .write-phone .select-input-container .select-containers .select-box {
    width: 100px;
  }
}

.signals .write-phone .select-input-container .select-number {
  width: calc(100% - 240px);
}

@media (min-width: 320px) and (max-width: 767px) {
  .signals .write-phone .select-input-container .select-number {
    width: calc(100% - 100px);
  }
}

.signals .write-phone .select-input-container .select-number .input-number {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  height: 100%;
  padding-right: 20px;
}

.signals .write-phone .select-input-container .select-number .input-number::-webkit-input-placeholder {
  font-size: 15px;
  color: #707070;
}

.signals .write-phone .select-input-container .select-number .input-number:-ms-input-placeholder {
  font-size: 15px;
  color: #707070;
}

.signals .write-phone .select-input-container .select-number .input-number::-ms-input-placeholder {
  font-size: 15px;
  color: #707070;
}

.signals .write-phone .select-input-container .select-number .input-number::placeholder {
  font-size: 15px;
  color: #707070;
}

.signals .write-phone .select-input-container .select-number .input-number::-webkit-outer-spin-button, .signals .write-phone .select-input-container .select-number .input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.signals .write-phone .btns {
  height: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .signals .write-phone .btns {
    margin: 20px auto 0;
    border-radius: 5px;
  }
}

.signals .write-phone .btns .subscripe {
  height: 100%;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #203D7F;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  z-index: 44;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  .signals .write-phone .btns .subscripe {
    border-radius: 5px;
    margin: auto;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .signals .offers {
    margin-top: 170px !important;
  }
}

.signals .offers .wrapper-text {
  display: none;
}

.signals .offers .wrapper-text.active {
  display: block;
}

.signals .offers .wrapper-text .tcxt {
  color: #797979;
  line-height: 2;
  margin-bottom: 0;
}

.footer {
  background-color: #203D7F;
  padding: 1rem;
}
